<section class="paymentAdmin">

    <h4 class="paymentAdmin__titleList">Payment's</h4>

    <section class="paymentAdmin-list">
        <article class="paymentAdmin-list-item">
            <div class="paymentAdmin-list-item__heading"></div>
            <div class="paymentAdmin-list-item-head">
                <img src="https://firebasestorage.googleapis.com/v0/b/kuksfresh.appspot.com/o/payments%2Fcontraentrega.png?alt=media&token=967215a3-a1a9-4239-ad5c-1bf2826a67e2" alt="icon">
                <h5 class="paymentAdmin-list-item-head__title">Against Delivery</h5>     
            </div>
            <p class="paymentAdmin-list-item__desc">Payment made at the time of delivery, otherwise the product will not be delivered</p>
            <div class="paymentAdmin-list-item__footer"></div>
        </article>
    </section>
</section>