<section class="cart">
    <h2 class="cart__title">"CART"</h2>
    <section class="cart-table">
        <div class="cart-table__title"></div>
        <div class="cart-table__title"></div>
        <h4 class="cart-table__title">Product</h4>
        <h4 class="cart-table__title">Price</h4>
        <h4 class="cart-table__title">Quantity</h4>
        <h4 class="cart-table__title">Total</h4>
    </section>
    <app-item *ngFor="let product of cart" [product]="product"></app-item>
    <app-totals></app-totals>
</section>
