<header class="header"> 
    <h2 class="header__loge">Kuks Fresh</h2>
    <nav class="header-navigation">
        <ul class="header-navigation-list">
            <li><a routerLink="/" class="header-navigation-list__item">Find</a></li>
            <li><a routerLink="/about" class="header-navigation-list__item">About Us</a></li>
            <li><a routerLink="/howitworks" class="header-navigation-list__item">How It Works</a></li>
            <li><a routerLink="/plans" class="header-navigation-list__item">Plans</a></li>
            <li><a routerLink="/contact" class="header-navigation-list__item">Contact Us</a></li>
            <li>
                <a routerLink="/profile" class="header-navigation-list__item header-navigation-list--image" *ngIf="isLogued">
                    <img [src]="image" alt="user icon">
                </a>
            </li>
        </ul>
    </nav>
    <a routerLink="/cart" class="header__cart" *ngIf="isLogued">     
        <img src="assets/icon/cart-icon.svg" alt="cart icon" >
        <span> ({{cart.length}}) items</span>
    </a>
    <div class="logInButton-container">
        <a class="logInButton" routerLink="/auth/login" *ngIf="!isLogued">Sign Up</a>
    </div>
    
</header>
