<section class="profile" *ngIf="user">
    <app-header-profile [user]="user"></app-header-profile>
    <section class="profile-settings">
        <app-information-block *ngFor="let s of settings" [dataFrame]="s"></app-information-block>
    </section>
    <section class="profile-schedules" *ngFor="let s of user.shedules">
        <h2 class="profile-schedules__title">Schedules List</h2>
        <a [routerLink]="'/order/' + user.name + '/' + s._id">Schedule the {{convertTime(s.date)}} </a>
    </section>
    <a routerLink="/admin/profile" class="adminPanel" *ngIf="user.admin">Admin Panel</a>
    <button class="profile-logout" (click)="logOut()">Log Out</button>
</section>

