<section class="product" *ngIf="product">
    <div class="product__background">
        <img class="product__background" [src]="product.image" [alt]="product.title">
    </div>
    <section class="product-information">
        <h2 class="product-information__title">{{product.title}}</h2>
        <div class="product-information-stars">
            <img src="assets/icon/start-active-icon.svg" *ngFor="let a of starsActive" alt="activeStart" />
            <img src="assets/icon/start-inactive-icon.svg" *ngFor="let a of starsInactive"  alt="activeStart" />
        </div>
        <div class="product-information-footer">
            <h4 class="product-information-footer__reviews">{{getTotalReviews()}} Reviews</h4>
            <p class="product-information-footer__country" *ngFor="let country of product.from">{{country}}</p>
        </div>
    </section>
    <section class="product-price">
        <h3 class="product-price__price">${{product.prices[0].cost}}</h3>
        <p class="product-price__text">Sale price</p>
    </section>
    <section class="product-date">
        <h3 class="product-date__date">{{product.dateItemAdded.date}} Jan {{product.dateItemAdded.year}}</h3>
        <p class="product-date__text">Date of item added</p>
    </section>
    <section class="product-sold">
        <h3 class="product-sold__sold">{{product.itemSold}}</h3>
        <p class="product-sold__text">Item sold</p>
    </section>
    <i class="fas fa-trash-alt product__icon cursor-pointer" (click)="removeProduct()"></i>
    <i class="fas fa-pencil-alt product__icon cursor-pointer" (click)="editProduct()"></i>
    <i class="fas fa-sync product__icon cursor-pointer" (click)="refresh()"></i>
</section>
