<section class="product">
    <div class="product__background">
        <img class="product__background" src="assets/jpg/pakistani chicken platter.jpg" alt="background">
    </div>
    <section class="product-information">
        <h2 class="product-information__title">Pakistani Chicken Plaster</h2>
        <div class="product-information-stars">
            <img src="assets/icon/start-active-icon.svg" alt="activeStart">
            <img src="assets/icon/start-active-icon.svg" alt="activeStart">
            <img src="assets/icon/start-active-icon.svg" alt="activeStart">
            <img src="assets/icon/start-active-icon.svg" alt="activeStart">
            <img src="assets/icon/start-inactive-icon.svg" alt="activeStart">
        </div>
        <div class="product-information-footer">
            <h4 class="product-information-footer__reviews">32 Reviews</h4>
            <p class="product-information-footer__country">Indian</p>
            <p class="product-information-footer__country">Pakistani</p>
        </div>
    </section>
    <section class="product-price">
        <h3 class="product-price__price">$45</h3>
        <p class="product-price__text">Sale price</p>
    </section>
    <section class="product-date">
        <h3 class="product-date__date">10 Jan 20</h3>
        <p class="product-date__text">Date of item added</p>
    </section>
    <section class="product-sold">
        <h3 class="product-sold__sold">21</h3>
        <p class="product-sold__text">Item sold</p>
    </section>
    <i class="fas fa-trash-alt product__icon cursor-pointer"></i>
    <i class="fas fa-pencil-alt product__icon cursor-pointer"></i>
    <i class="fas fa-sync product__icon cursor-pointer"></i>
</section>
