<section class="register">
    <form action="">
        <label for="" class="register-label">
            <input type="text" class="register-label__input" placeholder="Name" >
        </label>
        <label for="" class="register-label">
            <input type="email" class="register-label__input" placeholder="Email">
        </label>
        <label for="" class="register-label">
            <input type="password" class="register-label__input" placeholder="PASSWORD (AT LEAST 8 CHARACTERS)">
        </label>
        <section class="register-finally">
            <button type="submit" class="register-finally__button cursor-pointer">Create</button>
            <div class="register-finally-terms ">
                <input type="checkbox" class="cursor-pointer" >
                <p>I accept Terms of Use</p>
            </div>
        </section>
    </form>
</section>
