@import "../../../app.component.scss";
%demostration {
  border-radius: 25px;
  font-style: italic;
  margin: 5px 5px;
  padding: 10px;
  font-size: 1.5rem;
  transition: 1s;
}
.information {
  &__title {
    font-size: 2.7rem;
    color: $color-primary;
    margin: 25px 0;
  }
  &__subtitle {
    font-size: 1.6rem;
    font-weight: 600;
    color: #48525e;
    margin: 50px 0;
  }
  &__description {
    font-size: 1.5rem;
    color: $color-terciario;
    line-height: 18px;
  }
  &-cuisine {
    margin: 5% 0;
    display: flex;
    &__item {
      @extend %demostration;
      background-color: $color-primary;
      color: white;
      border: none;
      &:hover {
        background-color: #923307;
      }
    }
  }
  &-none-background {
    margin: 5% 0;
    display: flex;
    &__item {
      @extend %demostration;
      background: transparent;
      color: $color-primary;
      border: $color-terciario solid 1px;
      &:hover {
        color: #923307;
      }
    }
  }
  &-none-background-not-text-color {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item {
      @extend %demostration;
      background: transparent;
      color: $color-terciario;
      border: $color-terciario solid 1px;
      &:hover {
        color: #48525e;
      }
    }
  }
}
.agree {
  @extend %button;
  width: 50%;
  background-color: $color-primary;
  border: none;
  color: white;
  font-size: 1.8rem;
  display: block;
  font-weight: 600;
  margin: 6% auto;
  transition: 1s;
  display: flex;
  justify-content: center;
  img {
    width: 30px;
    height: auto;
    margin: auto 0;
    display: block;
  }
  span {
    margin: auto 0;
    margin-left: 10px;
    display: block;
  }
  &:hover {
    background-color: #923307;
  }
}
