<section class="information" *ngIf="product">
    <h2 class="information__title">{{product.title}}</h2>
    <p class="information__subtitle">{{product.subtitle}}</p>
    <p class="information__description">{{product.descriptions.product}}</p>
    
    <section class="information-cuisine">
        <p class="information__subtitle" style="margin: auto 0;">Kitchen : </p>
        <button class="information-cuisine__item" *ngFor="let i of product.kitchen">#{{i}}</button>
    </section>
    <p class="information__subtitle">Main Ingredients</p>
    <p class="information__description">{{product.ingredients}}</p>
    
    <section class="information-none-background">
        <p class="information__subtitle" style="margin: auto 0;">Allergen Info: </p>
        <button class="information-none-background__item" *ngFor="let i of product.diet_info">#{{i}}</button>
    </section>
    
    <section class="information-none-background">
        <p class="information__subtitle" style="margin: auto 0;">Dietary Restriction: </p>
        <button class="information-none-background__item" *ngFor="let i of product.dietary_restricion">#{{i}}</button>
    </section>
    <p class="information__subtitle">Single Portion Size </p>
    <p class="information__description">{{product.descriptions.portion}}</p>
    <p class="information__subtitle">Also Alvailable on </p>
    <section class="information-none-background-not-text-color">
        <button class="information-none-background-not-text-color__item" *ngFor="let date of dates">{{date}}</button>
    </section>
</section>
<button class="agree cursor-pointer" (click)="addToCart()"> 
    <img src="assets/icon/cart-icon.svg" alt="">
    <span>Add to cart</span>
</button>
