<section class="contact">
    <h2 class="contact__title">Contact Us</h2>
    <section class="contact-grid">
        <section class="contact-card">
            <div class="contact-card-header">
                <i class="fas fa-house-user"></i>
                <p class="contact-card-header__title">Address</p>
            </div>
            <p class="contact-card__info"> MZ S LOTE 50 , URB INVENTADA</p>
            <p class="contact-card__info"> 85241 Paris</p>
            <p class="contact-card__info"> Alemania</p>
            <p class="contact-card__info"> Email: email@example.com</p>
            <p class="contact-card__info"> Tel. +51 845 321 856</p>
        </section>
    </section>
</section>
