<section class="order">
    <h2 class="order__title">"Schedule a Kuk"</h2>
    <section class="order-select">
        <section class="order-select-item">
            <h2 class="order-select-item__title">Select Date and Time</h2>
            <p class="order-select-item__des">Note : If booking right after or before another booking , please factor in 20 mins for commute</p>
            <app-horario></app-horario>
        </section>
        <section class="order-select-item">
            <img src="assets/jpg/schelude-background.jpg" alt="order schelude">
        </section>
    </section>
</section>
