@import "../../../app.component.scss";
.order {
  &__title {
    text-align: center;
    margin: 5% 0;
    font-size: 3.5rem;
    font-weight: 900;
    color: $color-terciario;
  }
  &-select {
    display: grid;
    width: 85%;
    margin: 0 auto;
    grid-template-columns: 40% 60%;
    &-item {
      &__title {
        font-size: 2.3rem;
        margin-bottom: 10px;
        color: $color-terciario;
        font-weight: 700;
      }
      &__des {
        font-size: 1.4rem;
        color: $color-terciario;
        margin: 20px 0;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &-schedules {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__line {
    background-color: rgba($color-terciario, $alpha: 0.7);
    width: 90%;
    height: 1px;
    margin: 20px auto;
  }
}
