<section class="schedule">
    <button class="schedule__close cursor-pointer" (click)="removeSchedule()" >x</button>
    <h4 class="schedule__name">Schedule {{index}}</h4>
    <h2 class="schedule__title">
        Select Time for 
        {{informationShedule.date.month}} 
        {{informationShedule.date.date}}rd 
        {{informationShedule.date.year}} , 
        {{informationShedule.date.day}}
    </h2>
    <section class="schedule-timeline">
        <section class="schedule-timeline-hours">
            <p class="schedule-timeline-hours__hour">12{{rdPm()}}</p>
            <p class="schedule-timeline-hours__hour">1{{rdPm()}}</p>
            <p class="schedule-timeline-hours__hour">2{{rdPm()}}</p>
            <p class="schedule-timeline-hours__hour">3{{rdPm()}}</p>
            <p class="schedule-timeline-hours__hour">4{{rdPm()}}</p>
            <p class="schedule-timeline-hours__hour">5{{rdPm()}}</p>
            <p class="schedule-timeline-hours__hour">6{{rdPm()}}</p>
            <p class="schedule-timeline-hours__hour">7{{rdPm()}}</p>
            <p class="schedule-timeline-hours__hour">8{{rdPm()}}</p>
            <p class="schedule-timeline-hours__hour">9{{rdPm()}}</p>
            <p class="schedule-timeline-hours__hour">10{{rdPm()}}</p>
        </section>
        <section class="schedule-timeline-navbar">        
            <section class="schedule-timeline-navbar-range">
                <div class="schedule-timeline-navbar-range__range" #range></div>
                <div class="schedule-timeline-navbar-range__not_available" #rangeEnd></div>
            </section>
            
            
        </section>
        <section class="schedule-timeline__control">
            <div *ngIf="!informationShedule.finished" (mouseover)="beforeControl('left')" class="schedule-timeline__control--left cursor-pointer" #controlLeft></div>
            <div *ngIf="!informationShedule.finished" (mouseover)="beforeControl('right')" class="schedule-timeline__control--right cursor-pointer" #controlRight></div>
        </section>
        
        <input type="range" class="cursor-pointer" (mouseleave)="resetInput($event)" (mouseup)="resetInput($event)" (input)="control($event , 'left')" min="0" max="20" value="6">
        <input type="range" class="cursor-pointer" (mouseleave)="resetInput($event)" (mouseup)="resetInput($event)" (input)="control($event , 'right')" min="0" max="20" value="12">
        
    </section>
    <section class="schedule-flex" [style]="!informationShedule.finished? 'margin-top: -8%;': ''">
        <p class="schedule-flex__text gris">{{ getNumber(true) }} pm to {{getNumber(false)}} pm</p>
        <p class="schedule-flex__text primary">{{informationShedule.available? 'Available':'Not Available'}}</p>
    </section>
    <section class="schedule-flex">
        <p class="schedule-flex__text gris">Hourly Rate</p>
        <p class="schedule-flex__text gris">${{informationShedule.hourlyRate}}/hr</p>
    </section>
    <section class="schedule-flex">
        <p class="schedule-flex__text gris">Total Hours</p>
        <p class="schedule-flex__text gris" >{{informationShedule.totalHours}} hr</p>
    </section>
    <section class="schedule-flex">
        <p class="schedule-flex__text gris">Repeat Weekly</p>
        <p class="schedule-flex__text gris">Save ${{informationShedule.repeatWeekly}}/hr</p>
    </section>
    <div class="schedule-line"></div>
    <section class="schedule-total">
        <button class="schedule-total__button cursor-pointer" (click)="addSchedule()" [disabled]="!isValidOrder()" *ngIf="!informationShedule.finished">Add Schedule</button>
        <h4 class="schedule-total__completed" *ngIf="informationShedule.finished" >Scheduled Added</h4>
        <h2 class="schedule-total__total">Total ${{informationShedule.total}}</h2>
    </section>
    <p class="schedule__information">
        Kuk working hours for the day 12PM 10PM 
        <br> 
        Minimum 2 hours booking is needed in one schedule
    </p>
</section>
