@import "../../../app.component.scss";

.schedule {
  width: 80%;
  padding: 20px;
  border: rgba($color-terciario, $alpha: 0.4) solid 1px;
  margin: 10px auto; //provisional
  &__close {
    background-color: $color-terciario;
    border: none;
    background: transparent;
    font-size: 1.6rem;
    position: relative;
    margin-left: 95%;
    padding: 7px 0;
    width: 30px;
    transition: 1s;
    border-radius: 100%;
    &:hover {
      color: white;
      background-color: $color-secundary;
    }
  }
  &__name {
    font-size: 1.5rem;
    color: $color-primary;
    font-weight: 100;
    margin: 0 0 50px;
  }
  &__title {
    font-size: 2rem;
    color: #525e6d;
    margin-bottom: 50px;
  }
  &-timeline {
    &-hours {
      display: flex;
      justify-content: space-between;
      &__hour {
        color: $color-terciario;
        font-size: 1.4rem;
        opacity: 0.7;
      }
    }
    &-navbar {
      overflow: hidden;
      border-radius: 15px;
      width: 100%;
      height: 10px;
      margin-top: 15px;
      background-color: #50627a;
      &-range {
        width: 100%;
        &__range {
          width: 30%;
          position: relative;
          left: 30%;
          height: 10px;
          background-color: $color-primary;
        }
        &__not_available {
          width: 100%;
          position: relative;
          left: 80%;
          top: -10px;
          height: 10px;
          background-color: $color-secundary;
        }
      }
    }
    &__control {
      width: 100%;
      transform: translateY(-20px);
      div {
        width: 10px;
        height: 30px;
        background-color: rgb(33, 105, 33);
        border: black 1px solid;
        position: relative;
        transform-origin: 5px;
      }
      &--left {
        left: 30%;
      }
      &--right {
        left: 60%;
        top: -30px;
      }
    }
  }
  &-flex {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    &__text {
      font-size: 1.6rem;
      opacity: 1;
    }
  }
  &-line {
    background-color: $color-terciario;
    width: 100%;
    height: 1px;
    opacity: 0.8;
  }
  &-total {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    &__button {
      @extend %button;
      color: white;
      background-color: $color-primary;
      font-size: 1.5rem;
      border: none;
      transition: 1s;
      width: 50%;
      &:hover {
        background-color: #8d2e03;
      }
      &:disabled {
        background-color: gray;
        color: black;
      }
    }
    &__total {
      @extend .primary;
      font-size: 2rem;
      margin: auto 0;
    }
    &__completed {
      color: #50627a;
      font-size: 1.6rem;
      margin: auto 0;
    }
  }
  &__information {
    font-size: 1.5rem;
    color: $color-terciario;
    line-height: 30px;
  }
}
.gris {
  color: $color-terciario;
}
.primary {
  color: $color-primary;
}
input[type="range"] {
  width: 98%;
  margin-top: -100%;
  position: relative;
  top: -70px;
  height: 10px;
  opacity: 0;
  display: none;
}
