<section class="schedule">
    <button class="schedule__close cursor-pointer">x</button>
    <h4 class="schedule__name">Schedule 1</h4>
    <h2 class="schedule__title">Select Time for Jun 3rd 2019 , Wednesday</h2>
    <section class="schedule-timeline">
        <section class="schedule-timeline-hours">
            <p class="schedule-timeline-hours__hour">12pm</p>
            <p class="schedule-timeline-hours__hour">1pm</p>
            <p class="schedule-timeline-hours__hour">2pm</p>
            <p class="schedule-timeline-hours__hour">3pm</p>
            <p class="schedule-timeline-hours__hour">4pm</p>
            <p class="schedule-timeline-hours__hour">5pm</p>
            <p class="schedule-timeline-hours__hour">6pm</p>
            <p class="schedule-timeline-hours__hour">7pm</p>
            <p class="schedule-timeline-hours__hour">8pm</p>
            <p class="schedule-timeline-hours__hour">9pm</p>
        </section>
        <section class="schedule-timeline-navbar">        
            <section class="schedule-timeline-navbar-range">
                <div class="schedule-timeline-navbar-range__range" #range></div>
                <div class="schedule-timeline-navbar-range__not_available" #rangeEnd></div>
            </section>
            
            
        </section>
        <section class="schedule-timeline__control">
            <div (mouseover)="beforeControl('left')" class="schedule-timeline__control--left" #controlLeft></div>
            <div (mouseover)="beforeControl('right')" class="schedule-timeline__control--right" #controlRight></div>
        </section>
        
        <input type="range" class="cursor-pointer" (mouseup)="resetInput($event)" (input)="control($event , 'left')" min="0" max="20" value="6">
        <input type="range" class="cursor-pointer" (mouseup)="resetInput($event)" (input)="control($event , 'right')" min="0" max="20" value="12">
        
    </section>
    <section class="schedule-flex">
        <p class="schedule-flex__text gris">1:00 pm to 4:00 pm</p>
        <p class="schedule-flex__text primary">Available</p>
    </section>
    <section class="schedule-flex">
        <p class="schedule-flex__text gris">Hourly Rate</p>
        <p class="schedule-flex__text gris">$25/hr</p>
    </section>
    <section class="schedule-flex">
        <p class="schedule-flex__text gris">Total Hours</p>
        <p class="schedule-flex__text gris" >3 hr</p>
    </section>
    <section class="schedule-flex">
        <p class="schedule-flex__text gris">Repeat Weekly</p>
        <p class="schedule-flex__text gris">Save $2/hr</p>
    </section>
    <div class="schedule-line"></div>
    <section class="schedule-total">
        <button class="schedule-total__button cursor-pointer">Add Schedule</button>
        <h2 class="schedule-total__total">Total $60.5</h2>
    </section>
    <p class="schedule__information">
        Kuk working hours for the day 12PM 9PM 
        <br> 
        Minimum 2 hours booking is needed in one schedule
    </p>
</section>
