<section class="orderDetail" *ngIf="order">
    <h2 class="orderDetail__title">Order N°{{order.id}} from {{order.user_name}}</h2>
    <section class="orderDetail-time">
        <h5 class="orderDetail-time__information">From : {{order.from}} pm</h5>
        <h5 class="orderDetail-time__information">to :{{order.to}} pm</h5>
    </section>
    <p class="orderDetail__date">Date: {{buildDate(order.date)}}</p>
    <p class="orderDetail__mount">Mount: ${{order.total}}</p>
    <p class="orderDetail__pennding">Pennding: <small [style]="order.pendding? '': 'color:green' ">{{order.pendding}}</small> </p>
    <section class="orderDetail__products">
        <h2>Total Products: {{order.products.length}}</h2>
        <section class="orderDetail__products--grid">
            <app-product *ngFor="let product of order.products" [product]="product"></app-product>
        </section>
    </section>
    <h4 class="orderDetail__titleUserInformation">User Information: </h4>
    <app-user-detail [user]="user" ></app-user-detail>
</section>