<section class="orderDetail">
    <h2 class="orderDetail__title">Order N°15 from Wilmion Navarrete</h2>
    <section class="orderDetail-time">
        <h5 class="orderDetail-time__information">From : 7pm</h5>
        <h5 class="orderDetail-time__information">to : 12pm</h5>
    </section>
    <p class="orderDetail__date">Date: 15 / 10 / 2020</p>
    <p class="orderDetail__mount">Mount: $100</p>
    <p class="orderDetail__pennding">Pennding: <small>true</small> </p>
    <section class="orderDetail__products">
        <h2>Total Products: 150</h2>
        <section class="orderDetail__products--grid">
            <app-product></app-product>
            <app-product></app-product>
            <app-product></app-product>
        </section>
    </section>
    <h4 class="orderDetail__titleUserInformation">User Information: </h4>
    <app-user-detail></app-user-detail>
</section>