<section class="funcionalidad">
    <h2 class="funcionalidad__title">How It Works</h2>
    <div class="funcionalidad-column">
        <p class="funcionalidad-column__text">Select your Product, then go to the shopping cart</p>
        <i class="far fa-hand-pointer"></i>
    </div>
    <div class="funcionalidad-column"> 
        <i class="far fa-calendar-alt" style="color: rgb(255, 136, 0);"></i>
        <p class="funcionalidad-column__text">Next, schedule a time for the delivery of your delivery</p>
    </div>
    <div class="funcionalidad-column" >
        <p class="funcionalidad-column__text">The delivery arrives in the range chosen in the schedule </p>
        <i class="fas fa-truck" style="color: rgb(46, 23, 151);"></i>
    </div>
    <div class="funcionalidad-column">
        <i class="fas fa-truck-loading" style="color: rgb(46, 23, 151);"></i>
        <p class="funcionalidad-column__text">Upon arrival at the address, the request for dispatch and delivery of the product will be passed.</p>
    </div>
    <div class="funcionalidad-column">
        <p class="funcionalidad-column__text">Once dispatched, proceed to pay the order </p>
        <i class="far fa-money-bill-alt" style="color: rgb(90, 168, 66);"></i>
    </div>
    <h5 class="funcionalidad__alert">Note: Please important not to believe this as it is false, it is only a demo page for my personal projects</h5>
</section>