<section class="admin-footer" *ngIf="param === 'items'">
    <section class="admin-footer-first">
        <p class="admin-footer-first__text">Items per page: </p>
        <h6 class="admin-footer-first__option admin-footer-first__option--selected">5</h6>
        <h6 class="admin-footer-first__option admin-footer-first__option--unselected">10</h6>
        <h6 class="admin-footer-first__option admin-footer-first__option--unselected">15</h6>
    </section>
    <section class="admin-footer-second">
        <p class="admin-footer-second__control">Previous</p>
        <p class="admin-footer-second__nPage admin-footer-second__nPage--selected">1</p>
        <p class="admin-footer-second__nPage admin-footer-second__nPage--unselected">2</p>
        <p class="admin-footer-second__nPage admin-footer-second__nPage--unselected">3</p>
        <p class="admin-footer-second__nPage admin-footer-second__nPage--unselected">4</p>
        <p class="admin-footer-second__nPage admin-footer-second__nPage--unselected">5</p>
        <p class="admin-footer-second__control">Next</p>
    </section>
</section>
