$color-primary: #ef4c00;
$color-secundary: #ff0043;
$color-terciario: #76869a;

%button {
  text-decoration: none;
  padding: 15px 0;
  text-align: center;
  border-radius: 50px;
}
.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}
.cutLink {
  color: black;
}
.plus-color {
  background-color: $color-primary;
}
.remove-color {
  background-color: $color-secundary;
}
