<section class="intro">
    <h2 class="intro__title">"People who loves to eat are always Best people"</h2>
    <h3 class="intro__author">JULIA CHILD</h3>

    <section class="intro-portrait">
        <h2 class="intro-portrait__title">FIND HEALTHY AND <br> FAVOURITE FOODS <br> NEAR YOU</h2>
        <section class="intro-portrait-buttons">
            <a href="https://www.apple.com/la/app-store/" class="intro-portrait-buttons__button">
                <img src="assets/icon/apple-icon.svg" alt="apple icon">
                <div class="intro-portrait-buttons__button--information">
                    <p>DOWNLOAD ON THE</p>
                    <p>App Store</p>
                </div>
            </a>
            <a href="https://play.google.com/store" class="intro-portrait-buttons__button">
                <img src="assets/icon/playStore-icon.svg" alt="google play icon">
                <div class="intro-portrait-buttons__button--information">
                    <p>GET IT ON:</p>
                    <p>Google Play</p>
                </div>
            </a>
        </section>
    </section>
</section>
