<section class="auth">
    <h2 class="auth__logo cursor-pointer">Kuks Fresh</h2>
    <nav class="auth_nav">
        <ul class="auth_nav-list">
            <li class="auth_nav-list-item auth_nav-list-item-select cursor-pointer">
                <p>CREATE AN ACCOUNT</p>
                <div class="indicator"></div>
            </li>
            <li class="auth_nav-list-item auth_nav-list-item-unselect cursor-pointer">
                <p>LOG IN</p>
                <div class="indicator"></div>
            </li>
        </ul>
        <div class="auth_nav__line"></div>
    </nav>
    <section class="auth-logre">
        <app-register></app-register>
    </section>
    
    <!--<app-login></app-login>-->
</section>
