<section class="cartItem" *ngIf="product">
    
    <i class="far fa-times-circle cursor-pointer" (click)="deleteProduct()" ></i>

    <div class="cartItem-image">
        <img [src]="product.image" alt="image product">
    </div>
    <p class="cartItem__text">{{product.title}} </p>
    <p class="cartItem__text">${{product.prices[0].cost}}</p>
    <div class="cartItem-amount">
        <button class="cartItem-amount__control remove-color cursor-pointer" (click)="deleteAmount()">-</button>
        <p class="cartItem-amount__amount">{{product.amount}}</p>
        <button class="cartItem-amount__control plus-color cursor-pointer" (click)="incrementAmount()" >+</button>
    </div>
    <p class="cartItem__text">${{(product.prices[0].cost * product.amount).toFixed(2)}}</p>
</section>
