<section class="cartItem">
    <i class="far fa-times-circle"></i>
    <div class="cartItem-image">
        <img src="https://firebasestorage.googleapis.com/v0/b/kuksfresh.appspot.com/o/pakistani%20chicken%20platter.jpg?alt=media&token=513939aa-2b04-4365-be0d-48b8a86ef28f" alt="image product">
    </div>
    <p class="cartItem__text">Pakistani chicken </p>
    <p class="cartItem__text">$35.00</p>
    <div class="cartItem-amount">
        <button class="cartItem-amount__control remove-color">-</button>
        <p class="cartItem-amount__amount">1</p>
        <button class="cartItem-amount__control plus-color">+</button>
    </div>
    <p class="cartItem__text">$35.00</p>
</section>
