@import "../../../app.component.scss";

.home {
  &-firstBlock {
    margin: 5% 0;
    display: flex;
    &__title {
      font-size: 2.5rem;
      color: #b91c44;
      margin-left: 5px;
      font-weight: 900;
    }
    &__input {
      margin-left: auto;
      border: none;
      background: transparent;
      width: 20%;
      font-size: 1.6rem;
    }
    &__icon-search {
      width: 30px;
      height: auto;
    }
    &__filter {
      width: 60px;
      margin: 0 15px;
      border-radius: 100%;
      background-color: $color-primary;
      img {
        width: 26px;
        padding: 17px 0;
        height: auto;
        margin: auto;
        display: block;
      }
    }
  }
  &-filtered {
    display: flex;
    justify-content: left;
    &-option {
      width: 15%;
    }
  }
  &-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3% 0;
    grid-row-gap: 3%;
  }
}
