<app-intro></app-intro>
<section class="home">
    <section class="home-firstBlock">
        <h2 class="home-firstBlock__title">OUR MEALS</h2>
        <input class="home-firstBlock__input" type="text" placeholder="Search by name" >
        <img src="assets/icon/search-icon.svg" alt="icon Search" class="home-firstBlock__icon-search cursor-pointer">
        <picture class="home-firstBlock__filter cursor-pointer">
            <img src="assets/icon/filters-icon.svg" alt="filter icon">
        </picture>
    </section>
    <!--falta la seccion de filtrado-->
    <!--falta la seccion de todos los productos-->
    <!--falta la seccion de Popular-->

</section>