<section class="cartTotals">
    <h2 class="cartTotals__title">Cart Totals</h2>
    <div class="cartTotals-line"></div>
    <section class="cartTotals-information">
        <h4 class="cartTotals-information__feature">SubTotal</h4>
        <h5 class="cartTotals-information__value">$35.00</h5>
        <h4 class="cartTotals-information__feature">Total</h4>
        <h5 class="cartTotals-information__value">$35.00</h5>
    </section>
    <button class="cartTotals-button">Proceed to Schedule</button>
</section>
