<section class="cartTotals">
    <h2 class="cartTotals__title">Cart Totals</h2>
    <div class="cartTotals-line"></div>
    <section class="cartTotals-information">
        <div class="cartTotals-information__feature">
            <h4>SubTotal</h4>
        </div>
        <div class="cartTotals-information__value">
            <h5>$35.00</h5>
        </div>
        <div class="cartTotals-information__feature">
            <h4>Total</h4>
        </div>
        <div class="cartTotals-information__value">
            <h5>$35.00</h5>
        </div>
    </section>
    <button class="cartTotals-button cursor-pointer">Proceed to Schedule</button>
</section>