<section class="ordersAdmin">
    <h2 class="ordersAdmin__title">Orders</h2>

    <section class="ordersAdmin-actions">
        <section class="ordersAdmin-actions-filters">
            <select name="active" id="" (input)="filteredActiveOrders($event)">
                <option value="none" selected>--Select Option--</option>
                <option value="true">Active Orders</option>
                <option value="false">Desactive Orders</option>
            </select>
            <select name="aproved" id="" (input)="filteredAprovedOrders($event)">
                <option value="none" selected>--Select Option--</option>
                <option value="true">Aproved Orders</option>
                <option value="false">Pendings Orders</option>
            </select>
            <button disabled id="detailsAnchor" (click)="navigateToOrderDetail($event)" class="ordersAdmin-actions-filters__viewDetails" [disabled]="!currentSelectedOrder">View Details</button>
        </section>
        <section class="ordersAdmin-actions-search">
            <div class="cursor-pointer" (click)="changeActivateSearch()">
                <i class="fas fa-link" *ngIf="activedSearch"></i>
                <i class="fas fa-unlink" *ngIf="!activedSearch"></i>
            </div>
            <input type="text" placeholder="Search orders" (input)="filteredSearch($event)">
        </section>
        
    </section>

    <section class="ordersAdmin-information">
        <div class="ordersAdmin-information-item">
            <h5 class="ordersAdmin-information-item__subtitle">Total</h5>
            <h3 class="ordersAdmin-information-item__title">{{showOrders.length}} <small>orders</small></h3>
        </div>
        <div class="ordersAdmin-information-item">
            <h5 class="ordersAdmin-information-item__subtitle">Sum</h5>
            <h3 class="ordersAdmin-information-item__title">{{getSumTotal()}} <small>USD</small></h3>
        </div>
        <div class="ordersAdmin-information-item">
            <h5 class="ordersAdmin-information-item__subtitle">Total pendding</h5>
            <h3 class="ordersAdmin-information-item__title">{{getNOrdersPendding().length}} <small>orders</small></h3>
        </div>
    </section>

    <section class="table">
        <table *ngIf="showOrders.length > 0 && !isLoading">
            <tr class="table-file table-file-head">
                <td class="table-file-item"></td>
                <td class="table-file-item">Date</td>
                <td class="table-file-item">ID</td>
                <td class="table-file-item">Usuario</td>
                <td class="table-file-item">Products</td>

                <td class="table-file-item">Direccion</td>
                <td class="table-file-item">City</td>
                <td class="table-file-item">Country</td>
            
                <td class="table-file-item">Status</td>
                <td class="table-file-item">Total</td>
            </tr>
            <!--order-->
            <tr class="table-file" *ngFor="let order of showOrders">
                <td class="table-file-item">
                    <input type="checkbox" class="table-file-item__checkBox" (click)="setCurrentOrder($event , order)">
                </td>
                <td class="table-file-item">{{convertData(order.date)}}</td>
                <td class="table-file-item">{{order.id}}</td>
                <td class="table-file-item">{{order.user_name}}</td>
                <td class="table-file-item">
                    <button class="table-file-item__button tbl-btn__pdtcs">{{order.products.length}} products</button>
                </td>

                <td class="table-file-item">{{order.location.direction}}</td>
                <td class="table-file-item">{{order.location.city}}</td>
                <td class="table-file-item">{{order.location.country}}</td>
            
                <td class="table-file-item">
                    <button [class]="order.pendding? 'table-file-item__button tbl-btn__pndg' : 'table-file-item__button tbl-btn__apvrd '" (click)="toggleStateOrder(order)" >{{order.pendding ? 'pendding' : 'completed'}}</button>
                </td>
                <td class="table-file-item">$ {{order.total}}</td>
            </tr>
        </table>
        <section class="table-rd">
            <div class="table-rd-file" *ngFor="let order of showOrders">
                <div class="table-rd-item">
                    <input type="checkbox" class="table-rd-item__checkBox" (click)="setCurrentOrder($event , order)">
                </div>
                <p class="table-rd-item"><strong>Date : </strong> {{convertData(order.date)}}</p>
                <p class="table-rd-item"><strong>Id : </strong> {{order.id}}</p>
                <p class="table-rd-item"><strong>User : </strong> {{order.user_name}}</p>
                <div class="table-rd-item">
                    <strong>Products : </strong>
                    <button class="table-rd-item__button tbl-btn__pdtcs">{{order.products.length}} products</button>
                </div>

                <p class="table-rd-item"><strong>Direction : </strong> {{order.location.direction}}</p>
                <p class="table-rd-item"><strong>Location : </strong> {{order.location.city}}</p>
                <p class="table-rd-item"><strong>Country </strong> {{order.location.country}}</p>
            
                <div class="table-rd-item">
                    <strong>Status: </strong>
                    <button [class]="order.pendding? 'table-rd-item__button tbl-btn__pndg' : 'table-rd-item__button tbl-btn__apvrd '" (click)="toggleStateOrder(order)" >{{order.pendding ? 'pendding' : 'completed'}}</button>
                </div>
                <div class="table-rd-item"><strong>Total : </strong> $ {{order.total}}</div>
            </div>
        </section>
        <h3 *ngIf="showOrders.length === 0 && !isLoading" class="table-notResults">Not Results</h3>
        <app-loading *ngIf="isLoading"></app-loading>
    </section>
</section>
