@import "../../../app.component.scss";

.ordersAdmin {
  &__title {
    font-size: 2.7rem;
    text-align: center;
    color: $color-terciario;
    font-weight: 600;
    margin: 5% 0;
  }
  &-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &-filters {
      select {
        padding: 10px;
        font-size: 1.6rem;
        margin: 0 10px;
        font-weight: 700;
        background-color: #ced6df;
        border: none;
        border-radius: 5px;
      }
      &__viewDetails {
        text-decoration: none;
        color: white;
        font-size: 1.4rem;
        padding: 10px 40px;
        border-radius: 25px;
        background-color: $color-primary;
        transition: 1s;
        display: inline-block;
        border: none;
        &:disabled {
          background-color: $color-terciario;
        }
      }
    }
    &-search {
      display: flex;
      justify-content: center;
      margin-right: 10px;
      div {
        padding: 10px;
        background-color: #ced6df;
        i {
          font-size: 1.6rem;
        }
      }
      input {
        font-size: 1.6rem;
        padding: 10px;
        border: rgba(black, $alpha: 0.4) solid 1px;
        &::placeholder {
          color: gray;
        }
      }
    }
  }
  &-information {
    display: flex;
    border-top: gray solid 1px;
    margin: 40px 0;
    padding: 20px 0;
    justify-content: space-around;
    background-color: #ced6df;
    &-item {
      &__subtitle {
        color: gray;
        font-size: 1.4rem;
        font-weight: 100;
      }
      &__title {
        color: black;
        font-size: 3rem;
        font-weight: 100;
        margin-top: 20px;
        small {
          font-size: 1.6rem;
        }
      }
    }
  }
}
.table {
  width: 90%;
  margin: 3% auto;
  &-file {
    &-item {
      padding-top: 20px;
      font-size: 1.6rem;
      text-align: center;
      width: 9%;
      &:nth-of-type(1) {
        width: 3%;
        text-align: left;
        input {
          display: block;
          margin: 0 auto;
        }
      }
      &:nth-of-type(3) {
        font-weight: 700;
      }
      &:nth-of-type(4) {
        width: 15%;
        text-align: left;
      }
      &__button {
        color: white;
        font-size: 1.4rem;
        padding: 10px;
        border-radius: 6px;
        border: none;
      }
    }
  }
  &-file-head {
    td {
      font-weight: 600;
      padding-bottom: 10px;
      border-bottom: rgb(167, 167, 167) solid 4px;
    }
  }
  &-notResults {
    color: #b91c44;
    font-size: 1.8rem;
    margin: 50px 0;
    text-align: center;
  }
  &-rd {
    display: none;
  }
}
.tbl-btn__pndg {
  background-color: $color-secundary;
}
.tbl-btn__pdtcs {
  background-color: $color-terciario;
}
.tbl-btn__apvrd {
  background-color: $color-primary;
}

@media (max-width: 800px) {
  .ordersAdmin {
    &__title {
      font-size: 2.5rem;
    }
    &-actions {
      flex-direction: column;
      &-filters {
        select {
          margin: 20px auto;
          display: block;
        }
        &__viewDetails {
          margin: 10px auto;
          display: block;
        }
      }
      &-search {
        margin: 10px auto;
      }
    }
    &-information {
      &-item {
        &__subtitle {
          font-size: 1.3rem;
        }
        &__title {
          font-size: 2rem;
          small {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  .table {
    width: 95%;
    margin: 3% auto;
    &-file {
      display: none;
    }
    &-notResults {
      font-size: 1.5rem;
    }
    &-rd {
      display: block;
      border: rgba($color: #000000, $alpha: 0.4) solid 1px;
      padding: 10px;
      margin: 25px auto;
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin: 25px auto;
        strong {
          font-size: 1.6rem;
          font-weight: 600;
          margin-right: 10px;
        }
        &__button {
          color: white;
          font-size: 1.3rem;
          padding: 10px;
          border-radius: 15px;
          border: none;
        }
      }
    }
  }
}
